body {
    background: #0F0F0F;
  }
  
.title {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #FFFFFF;
      opacity: 0.87;
      margin-left: 50px;
      margin-top: 15px;
}