@charset "UTF-8";
@import '../fonts/fonts.css';
body {
  background: #0F0F0F;
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  opacity: 0.87;
  margin-left: 50px;
  margin-top: 15px;
}

.header {
  display: flex;
}

.logo {
  position: relative;
  top: -7px;
  margin-left: 51px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 35px;
  line-height: 42.67px;
  color: #ffffff;
}

.dropdown-menu {
  margin-left: 32px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

p,
.header_text {
  position: relative;
  top: 7px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  opacity: 0.87;
}

.header_text {
  position: relative;
  top: 23px;
}

.no-opacity {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ef5350;
}
a:hover .login_ico {
  background: url("../icons/login_ico-hover.png");
}
a:hover .header_text {
  color: #ef5350;
}

.dropdown-menu__btn {
  cursor: pointer;
  width: 101px;
  top: 5px;
}

.dropdown-menu__icon {
  position: relative;
  bottom: 24px;
  left: 1px;
  width: 12px;
  height: 7px;
  float: right;
  background: url("../icons/dropdown-menu_open.svg");
}

.dropdown-menu__content {
  position: absolute;
  background: #0f0f0f;
  z-index: 10;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: -40px;
}
.dropdown-menu__content p:first-child {
  margin-top: 10px;
}
.dropdown-menu__content p {
  margin: 15px;
}

.close {
  transform: rotate(180deg);
}

.navigation {
  display: none;
  position: relative;
  top: 10px;
}

.menu {
  list-style: none;
}
.menu li {
  display: inline-block;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  opacity: 0.87;
  margin-right: 15px;
}

.search-form {
  margin-left: 32px;
  margin-top: 14px;
}

#search-form__input {
  width: 270px;
  height: 35px;
  background: #0f0f0f;
  opacity: 0.87;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
  padding-left: 33px;
}

#search-form__input::placeholder {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #dcdcdc;
  opacity: 0.87;
}

.search_ico {
  position: absolute;
  z-index: 10;
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-top: 9px;
  background: url("../icons/search.svg");
}

.login {
  margin-left: auto;
  margin-right: 51px;
}

.login_ico {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 120px;
  top: 29px;
  background: url("../icons/login_ico.svg");
}

footer {
  display: flex;
  justify-content: space-between;
}
footer .left {
  display: flex;
}
footer .right {
  display: flex;
  position: relative;
  top: -9px;
  right: 51px;
}
footer .right p {
  opacity: 60%;
  margin-left: 32px;
}
footer .logo {
  top: -19px;
  margin-left: 40px;
  margin-right: 25px;
}
footer .menu li {
  margin-right: 39px;
  font-weight: 500;
  font-size: 15px;
  opacity: 60%;
}

.social-media-group {
  display: flex;
  margin-top: 22px;
}

.social-media-group__item {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.tiktok_ico {
  background: url("../icons/footer/static/tiktok_ico.svg");
}

.tiktok_ico:hover {
  background: url("../icons/footer/hover/tiktok_ico.png");
}

.vk_ico {
  background: url("../icons/footer/static/vk_ico.svg");
}

.vk_ico:hover {
  background: url("../icons/footer/hover/vk_ico.png");
}

.instagram_ico {
  background: url("../icons/footer/static/instagram_ico.svg");
}

.instagram_ico:hover {
  background: url("../icons/footer/hover/instagram_ico.png");
}

.left-btn {
  position: relative;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 70px;
  float: left;
  width: 16.4px;
  height: 45px;
  background: url("../icons/left-btn.svg");
  z-index: 10;
}

.right-btn {
  position: relative;
  cursor: pointer;
  margin-right: 13px;
  margin-top: -132px;
  top: 202px;
  float: right;
  width: 16.4px;
  height: 45px;
  background: url("../icons/right-btn.svg");
}

.popular-courses, .new-courses {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}

.all-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-left: 32px;
  margin-bottom: 62px;
}
.all-courses .course {
  margin-bottom: 18px;
}

.course {
  margin-right: 30px;
  transition: all 0.5s ease-in-out;
}

.course__preview {
  width: 329px;
  height: 185px;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.2);
}

.course__title {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.87;
}

.course__likes {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.mega-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  max-height: 590px;
  background: #EF5350;
  border-radius: 10px;
  margin-bottom: 30px;
}
.mega-banner .left h2 {
  padding: 0;
  margin: 0;
  margin-right: 119px;
  margin-top: -39px;
}
.mega-banner .right {
  display: flex;
  align-items: center;
}
.mega-banner h2 {
  float: right;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.mega-banner p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.mega-banner .right {
  float: right;
}

.mega-banner__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.cent::before {
  content: "Найди же свой курс)";
  font-size: 32px;
}

@media (min-width: 1513px) {
  .navigation {
    display: block;
  }
  .dropdown-menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
